alembic==1.1.0
banal==0.4.2
certifi==2019.6.16
chardet==3.0.4
datafreeze==0.1.0
dataset==1.1.2
idna==2.8
Mako==1.1.0
MarkupSafe==1.1.1
nltk==3.4.5
normality==2.0.0
oauthlib==3.1.0
PySocks==1.7.0
python-dateutil==2.8.0
python-editor==1.0.4
PyYAML==5.4
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
SQLAlchemy==1.3.8
text-unidecode==1.3
textblob==0.15.3
tweepy==3.8.0
urllib3==1.25.3
